.jumbotron
  %p
    = @question.date.to_formatted_s(:long)
  %h1
    = @question.text
  %p
    = "Time to respond: #{distance_of_time_in_words(Time.current, @question.date + 1.day)}"
  %p
    %button.btn.btn-lg.btn-yes{type: 'button'} Yes
    %button.btn.btn-lg.btn-no{type: 'button'} No
  %p
    %a#show_responses{href: ''}
  #responses
    %h4 Responses
    %progress.progress.progress-success.progress-yes{value: 75, max: 100}
    %div.yes-responses
      %span.yes-response-count
      Yes
      %span.yes-response-percent
    %progress.progress.progress-danger.progress-no{value: 25, max: 100}
    %div.no-responses
      %span.no-response-count
      No
      %span.no-response-percent
    %p
      %span.total-response-count
      Total Responses
